In [3]:
import pandas as pd 
import numpy as np 

unemp_county = pd.read_csv("../datasets/unemployment-by-county-us/output.csv")

unemp_county.head()

   Year     Month        State         County  Rate
0  2015  February  Mississippi  Newton County   6.1
1  2015  February  Mississippi  Panola County   9.4
2  2015  February  Mississippi  Monroe County   7.9
3  2015  February  Mississippi   Hinds County   6.1
4  2015  February  Mississippi  Kemper County  10.6

In [4]:
df = pd.read_csv("../datasets/minwage.csv")

act_min_wage = pd.DataFrame()

for name, group in df.groupby("State"):
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name})

    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")[["Low.2018"]].rename(columns={"Low.2018":name}))

act_min_wage.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,0.0,15.12,3.37,1.12,11.88,7.20,10.08,9.00,9.00,8.28,...,0.0,0.00,NaN,7.20,10.08,0.0,11.52,7.20,9.00,8.64
1969,0.0,14.33,3.19,1.07,11.26,6.83,9.56,8.53,8.53,7.85,...,0.0,0.00,NaN,6.83,9.56,0.0,10.92,6.83,8.53,8.19
1970,0.0,13.54,3.02,7.09,10.64,6.45,10.32,8.06,10.32,8.38,...,0.0,0.00,NaN,6.45,10.32,0.0,10.32,6.45,8.38,8.38
1971,0.0,12.99,2.89,6.80,10.20,6.18,9.89,7.73,9.89,8.04,...,0.0,0.00,NaN,6.18,9.89,0.0,9.89,6.18,8.04,8.04
1972,0.0,12.57,2.80,7.19,9.88,5.99,11.08,9.58,9.58,9.58,...,0.0,8.38,NaN,7.19,9.58,0.0,9.58,7.19,8.68,8.98

In [5]:
act_min_wage = act_min_wage.replace(0, np.NaN).dropna(axis=1)
act_min_wage.head()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Federal (FLSA),Guam,Hawaii,...,Pennsylvania,Puerto Rico,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,15.12,1.12,11.88,7.20,10.08,9.00,9.00,8.28,9.00,9.00,...,8.28,3.10,10.08,3.06,7.20,10.08,11.52,7.20,9.00,8.64
1969,14.33,1.07,11.26,6.83,9.56,8.53,8.53,7.85,8.53,8.53,...,7.85,2.94,9.56,2.90,6.83,9.56,10.92,6.83,8.53,8.19
1970,13.54,7.09,10.64,6.45,10.32,8.06,10.32,8.38,10.32,10.32,...,8.38,2.77,10.32,6.45,6.45,10.32,10.32,6.45,8.38,8.38
1971,12.99,6.80,10.20,6.18,9.89,7.73,9.89,8.04,9.89,9.89,...,8.04,2.66,9.89,6.18,6.18,9.89,9.89,6.18,8.04,8.04
1972,12.57,7.19,9.88,5.99,11.08,9.58,9.58,9.58,11.38,9.58,...,9.58,3.89,9.58,5.99,7.19,9.58,9.58,7.19,8.68,8.98

In [6]:
def get_min_wage(year, state):
    try:
        return act_min_wage.loc[year][state]
    except:
        return np.NaN

get_min_wage(2012, "Colorado")

8.33

In [7]:
%%time

unemp_county["min_wage"] = list(map(get_min_wage, unemp_county["Year"], unemp_county["State"]))

CPU times: user 3min 16s, sys: 160 ms, total: 3min 16s
Wall time: 3min 16s

In [8]:
unemp_county.head()

   Year     Month        State         County  Rate  min_wage
0  2015  February  Mississippi  Newton County   6.1       NaN
1  2015  February  Mississippi  Panola County   9.4       NaN
2  2015  February  Mississippi  Monroe County   7.9       NaN
3  2015  February  Mississippi   Hinds County   6.1       NaN
4  2015  February  Mississippi  Kemper County  10.6       NaN

In [9]:
unemp_county[["Rate", "min_wage"]].corr()

              Rate  min_wage
Rate      1.000000  0.153047
min_wage  0.153047  1.000000

In [10]:
unemp_county[["Rate", "min_wage"]].cov()

              Rate  min_wage
Rate      9.687873  0.651586
min_wage  0.651586  1.874228

In [11]:
pres16 = pd.read_csv("../datasets/pres16results.csv")
pres16.head()

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [12]:
len(unemp_county)

885548

In [13]:
unemp_county.head()

   Year     Month        State         County  Rate  min_wage
0  2015  February  Mississippi  Newton County   6.1       NaN
1  2015  February  Mississippi  Panola County   9.4       NaN
2  2015  February  Mississippi  Monroe County   7.9       NaN
3  2015  February  Mississippi   Hinds County   6.1       NaN
4  2015  February  Mississippi  Kemper County  10.6       NaN

In [14]:
county_2015 = unemp_county.copy()[(unemp_county["Year"] == 2015) & (unemp_county["Month"] == "February")]

In [15]:
county_2015.head()

   Year     Month        State         County  Rate  min_wage
0  2015  February  Mississippi  Newton County   6.1       NaN
1  2015  February  Mississippi  Panola County   9.4       NaN
2  2015  February  Mississippi  Monroe County   7.9       NaN
3  2015  February  Mississippi   Hinds County   6.1       NaN
4  2015  February  Mississippi  Kemper County  10.6       NaN

In [16]:
len(county_2015)

2802

In [17]:
pres16["st"].unique()

array(['US', 'CA', 'FL', 'TX', 'NY', 'PA', 'IL', 'OH', 'MI', 'NC', 'GA',
       'VA', 'NJ', 'MA', 'WI', 'MN', 'MO', 'WA', 'IN', 'CO', 'TN', 'MD',
       'SC', 'AL', 'AZ', 'LA', 'KY', 'OR', 'CT', 'IA', 'OK', 'MS', 'KS',
       'NV', 'AR', 'UT', 'NE', 'NM', 'ME', 'NH', 'WV', 'ID', 'MT', 'RI',
       'DE', 'HI', 'SD', 'ND', 'VT', 'DC', 'WY', 'AK', nan], dtype=object)

In [18]:
state_abbv = pd.read_csv("../datasets/state_abv.csv", index_col=0)
state_abbv = state_abbv[["Postal Code"]]
state_abbv.head()

               Postal Code
State/District
Alabama                 AL
Alaska                  AK
Arizona                 AZ
Arkansas                AR
California              CA

In [19]:
state_abbv_dict = state_abbv.to_dict()["Postal Code"]
state_abbv_dict

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [21]:
county_2015["State"] = county_2015["State"].map(state_abbv_dict)

In [23]:
 county_2015.head()

   Year     Month State         County  Rate  min_wage
0  2015  February   NaN  Newton County   6.1       NaN
1  2015  February   NaN  Panola County   9.4       NaN
2  2015  February   NaN  Monroe County   7.9       NaN
3  2015  February   NaN   Hinds County   6.1       NaN
4  2015  February   NaN  Kemper County  10.6       NaN

In [24]:
pres16["st"].unique()

array(['US', 'CA', 'FL', 'TX', 'NY', 'PA', 'IL', 'OH', 'MI', 'NC', 'GA',
       'VA', 'NJ', 'MA', 'WI', 'MN', 'MO', 'WA', 'IN', 'CO', 'TN', 'MD',
       'SC', 'AL', 'AZ', 'LA', 'KY', 'OR', 'CT', 'IA', 'OK', 'MS', 'KS',
       'NV', 'AR', 'UT', 'NE', 'NM', 'ME', 'NH', 'WV', 'ID', 'MT', 'RI',
       'DE', 'HI', 'SD', 'ND', 'VT', 'DC', 'WY', 'AK', nan], dtype=object)

In [32]:
state_abbv = pd.read_csv("../datasets/state_abv.csv", index_col=0)
state_abbv = state_abbv[["Postal Code"]]
state_abbv.head()

               Postal Code
State/District
Alabama                 AL
Alaska                  AK
Arizona                 AZ
Arkansas                AR
California              CA

In [35]:
state_abbv_dict = state_abbv.to_dict()["Postal Code"]
state_abbv_dict

{'Alabama': 'AL',
 'Alaska': 'AK',
 'Arizona': 'AZ',
 'Arkansas': 'AR',
 'California': 'CA',
 'Colorado': 'CO',
 'Connecticut': 'CT',
 'Delaware': 'DE',
 'District of Columbia': 'DC',
 'Florida': 'FL',
 'Georgia': 'GA',
 'Hawaii': 'HI',
 'Idaho': 'ID',
 'Illinois': 'IL',
 'Indiana': 'IN',
 'Iowa': 'IA',
 'Kansas': 'KS',
 'Kentucky': 'KY',
 'Louisiana': 'LA',
 'Maine': 'ME',
 'Maryland': 'MD',
 'Massachusetts': 'MA',
 'Michigan': 'MI',
 'Minnesota': 'MN',
 'Mississippi': 'MS',
 'Missouri': 'MO',
 'Montana': 'MT',
 'Nebraska': 'NE',
 'Nevada': 'NV',
 'New Hampshire': 'NH',
 'New Jersey': 'NJ',
 'New Mexico': 'NM',
 'New York': 'NY',
 'North Carolina': 'NC',
 'North Dakota': 'ND',
 'Ohio': 'OH',
 'Oklahoma': 'OK',
 'Oregon': 'OR',
 'Pennsylvania': 'PA',
 'Rhode Island': 'RI',
 'South Carolina': 'SC',
 'South Dakota': 'SD',
 'Tennessee': 'TN',
 'Texas': 'TX',
 'Utah': 'UT',
 'Vermont': 'VT',
 'Virginia': 'VA',
 'Washington': 'WA',
 'West Virginia': 'WV',
 'Wisconsin': 'WI',
 'Wyoming': 'WY'}

In [36]:
county_2015["State"] = county_2015["State"].map(state_abbv_dict)
county_2015.tail()

      Year     Month State              County  Rate  min_wage
2797  2015  February   NaN     Somerset County   8.4      7.92
2798  2015  February   NaN       Oxford County   6.8      7.92
2799  2015  February   NaN         Knox County   6.1      7.92
2800  2015  February   NaN  Piscataquis County   7.0      7.92
2801  2015  February   NaN    Aroostook County   7.2      7.92

In [37]:
print(len(county_2015))
print(len(pres16))

2802
18475

In [38]:
pres16.columns

Index(['county', 'fips', 'cand', 'st', 'pct_report', 'votes', 'total_votes',
       'pct', 'lead'],
      dtype='object')

In [39]:
pres16.rename(columns={"county":"County", "st":"State"}, inplace=True)
pres16.head()

,County,fips,cand,State,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [40]:
for df in [county_2015, pres16]:
    df.set_index(["County", "State"], inplace=True)

In [45]:
pres16.head()

             fips          cand  pct_report       votes  total_votes  \
County State
NaN    US      US  Donald Trump      0.9951  60350241.0  127592176.0
       CA      CA  Donald Trump      1.0000   3184721.0    9631972.0
       FL      FL  Donald Trump      1.0000   4605515.0    9386750.0
       TX      TX  Donald Trump      0.9996   4681590.0    8903237.0
       NY      NY  Donald Trump      0.9966   2640570.0    7046175.0

                   pct             lead
County State
NaN    US     0.472993     Donald Trump
       CA     0.330641  Hillary Clinton
       FL     0.490640     Donald Trump
       TX     0.525830     Donald Trump
       NY     0.374752  Hillary Clinton

In [51]:
pres16 = pres16[pres16["cand"] == "Donald Trump"]
pres16 = pres16[["pct"]]

pres16 = pres16[["pct_report"]]
pres16.dropna(inplace=True)
pres16.head()

KeyError: 'cand'