In [9]:
import pandas as pd

df = pd.read_csv("datasets/20180605_MLCO.csv")
df = df.set_index("date")
df

,open,high,low,close,volume,average,barCount,QQQ_open,QQQ_high,QQQ_low,QQQ_close,QQQ_volume,QQQ_average,QQQ_barCount
date,,,,,,,,,,,,,,
2018-06-04 10:30:00,32.39,32.48,32.06,32.06,3071,32.370,334,173.16,173.48,173.07,173.46,6828,173.283,2151
2018-06-04 10:35:00,32.06,32.14,31.88,31.99,1064,32.009,360,173.46,173.64,173.44,173.56,4879,173.542,1954
2018-06-04 10:40:00,32.00,32.20,31.96,32.19,867,32.076,212,173.55,173.72,173.52,173.67,3806,173.640,1503
2018-06-04 10:45:00,32.16,32.31,32.16,32.21,138,32.242,108,173.67,173.78,173.66,173.68,3077,173.716,1219
2018-06-04 10:50:00,32.22,32.25,32.16,32.20,88,32.198,64,173.68,173.76,173.57,173.58,3097,173.662,1547
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-06-05 16:35:00,30.85,30.86,30.70,30.72,1078,30.802,591,174.65,174.74,174.62,174.71,3571,174.706,1198
2018-06-05 16:40:00,30.72,30.73,30.67,30.67,1329,30.704,643,174.71,174.72,174.66,174.68,3489,174.704,988
2018-06-05 16:45:00,30.68,30.68,30.62,30.63,1821,30.650,1206,174.68,174.86,174.67,174.84,4677,174.769,1946
2018-06-05 16:50:00,30.63,30.64,30.56,30.59,2469,30.595,1407,174.85,174.86,174.73,174.82,5529,174.793,2489
2018-06-05 16:55:00,30.59,30.59,30.43,30.44,8031,30.490,3596,174.82,174.88,174.77,174.83,9581,174.833,3663

In [16]:
df.sort_values(by="date", ascending=False).head()

,open,high,low,close,volume,average,barCount,QQQ_open,QQQ_high,QQQ_low,QQQ_close,QQQ_volume,QQQ_average,QQQ_barCount
date,,,,,,,,,,,,,,
2018-06-05 16:55:00,30.59,30.59,30.43,30.44,8031,30.490,3596,174.82,174.88,174.77,174.83,9581,174.833,3663
2018-06-05 16:50:00,30.63,30.64,30.56,30.59,2469,30.595,1407,174.85,174.86,174.73,174.82,5529,174.793,2489
2018-06-05 16:45:00,30.68,30.68,30.62,30.63,1821,30.650,1206,174.68,174.86,174.67,174.84,4677,174.769,1946
2018-06-05 16:40:00,30.72,30.73,30.67,30.67,1329,30.704,643,174.71,174.72,174.66,174.68,3489,174.704,988
2018-06-05 16:35:00,30.85,30.86,30.70,30.72,1078,30.802,591,174.65,174.74,174.62,174.71,3571,174.706,1198

In [20]:
df["open"].sort_values(ascending=True).head()

date
2018-06-05 16:55:00    30.59
2018-06-05 16:50:00    30.63
2018-06-05 16:45:00    30.68
2018-06-05 16:40:00    30.72
2018-06-05 16:30:00    30.83
Name: open, dtype: float64

In [21]:
df = pd.read_csv("datasets/20180605_MLCO.csv")
df["date"].sort_values(ascending=True).head()

0    2018-06-04 10:30:00
1    2018-06-04 10:35:00
2    2018-06-04 10:40:00
3    2018-06-04 10:45:00
4    2018-06-04 10:50:00
Name: date, dtype: object

In [22]:
df = df.set_index("date")
df["open"].sort_values(ascending=True).head()

date
2018-06-05 16:55:00    30.59
2018-06-05 16:50:00    30.63
2018-06-05 16:45:00    30.68
2018-06-05 16:40:00    30.72
2018-06-05 16:30:00    30.83
Name: open, dtype: float64

In [23]:
df.head()

,open,high,low,close,volume,average,barCount,QQQ_open,QQQ_high,QQQ_low,QQQ_close,QQQ_volume,QQQ_average,QQQ_barCount
date,,,,,,,,,,,,,,
2018-06-04 10:30:00,32.39,32.48,32.06,32.06,3071,32.370,334,173.16,173.48,173.07,173.46,6828,173.283,2151
2018-06-04 10:35:00,32.06,32.14,31.88,31.99,1064,32.009,360,173.46,173.64,173.44,173.56,4879,173.542,1954
2018-06-04 10:40:00,32.00,32.20,31.96,32.19,867,32.076,212,173.55,173.72,173.52,173.67,3806,173.640,1503
2018-06-04 10:45:00,32.16,32.31,32.16,32.21,138,32.242,108,173.67,173.78,173.66,173.68,3077,173.716,1219
2018-06-04 10:50:00,32.22,32.25,32.16,32.20,88,32.198,64,173.68,173.76,173.57,173.58,3097,173.662,1547

In [24]:
df[df.open > 32.06].head()

,open,high,low,close,volume,average,barCount,QQQ_open,QQQ_high,QQQ_low,QQQ_close,QQQ_volume,QQQ_average,QQQ_barCount
date,,,,,,,,,,,,,,
2018-06-04 10:30:00,32.39,32.48,32.06,32.06,3071,32.370,334,173.16,173.48,173.07,173.46,6828,173.283,2151
2018-06-04 10:45:00,32.16,32.31,32.16,32.21,138,32.242,108,173.67,173.78,173.66,173.68,3077,173.716,1219
2018-06-04 10:50:00,32.22,32.25,32.16,32.20,88,32.198,64,173.68,173.76,173.57,173.58,3097,173.662,1547
2018-06-04 10:55:00,32.22,32.38,32.19,32.34,227,32.271,74,173.58,173.66,173.51,173.64,1923,173.584,1015
2018-06-04 11:00:00,32.34,32.37,32.23,32.26,841,32.253,269,173.65,173.75,173.40,173.45,1982,173.551,1004

In [30]:
df2 = df[(df.open > 30) & (df.close > 32)]
df2.head()

,open,high,low,close,volume,average,barCount,QQQ_open,QQQ_high,QQQ_low,QQQ_close,QQQ_volume,QQQ_average,QQQ_barCount
date,,,,,,,,,,,,,,
2018-06-04 10:30:00,32.39,32.48,32.06,32.06,3071,32.370,334,173.16,173.48,173.07,173.46,6828,173.283,2151
2018-06-04 10:40:00,32.00,32.20,31.96,32.19,867,32.076,212,173.55,173.72,173.52,173.67,3806,173.640,1503
2018-06-04 10:45:00,32.16,32.31,32.16,32.21,138,32.242,108,173.67,173.78,173.66,173.68,3077,173.716,1219
2018-06-04 10:50:00,32.22,32.25,32.16,32.20,88,32.198,64,173.68,173.76,173.57,173.58,3097,173.662,1547
2018-06-04 10:55:00,32.22,32.38,32.19,32.34,227,32.271,74,173.58,173.66,173.51,173.64,1923,173.584,1015

In [38]:
cols = ["open", "high", "low", "close"]
df[(df.open > 30) & (df.close > 32)][cols].head()

                      open   high    low  close
date
2018-06-04 10:30:00  32.39  32.48  32.06  32.06
2018-06-04 10:40:00  32.00  32.20  31.96  32.19
2018-06-04 10:45:00  32.16  32.31  32.16  32.21
2018-06-04 10:50:00  32.22  32.25  32.16  32.20
2018-06-04 10:55:00  32.22  32.38  32.19  32.34

In [39]:
df.mean()

open              31.602564
high              31.636474
low               31.560577
close             31.592756
volume           456.608974
average           31.597077
barCount         228.455128
QQQ_open         174.273462
QQQ_high         174.343269
QQQ_low          174.202115
QQQ_close        174.279872
QQQ_volume      2112.141026
QQQ_average      174.274385
QQQ_barCount     893.378205
dtype: float64

In [43]:
#string manipulation
temp = pd.read_csv("../sentdex/datasets/pres16results.csv")
temp.head()

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [45]:
temp.cand.str.upper().head()

0       DONALD TRUMP
1    HILLARY CLINTON
2       GARY JOHNSON
3         JILL STEIN
4      EVAN MCMULLIN
Name: cand, dtype: object

In [47]:
temp.cand.str.lower().head()

0       donald trump
1    hillary clinton
2       gary johnson
3         jill stein
4      evan mcmullin
Name: cand, dtype: object

In [48]:
temp.head()

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump

In [49]:
temp

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,NaN,US,Donald Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,NaN,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,NaN,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,NaN,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,NaN,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump
...,...,...,...,...,...,...,...,...,...
18470,Yauco Municipio,72153,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18471,Midway Islands,74300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18472,St. Croix Island,78010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18473,St. John Island,78020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18474,St. Thomas Island,78030,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:

temp = pd.read_csv("../sentdex/datasets/pres16results.csv")

#replace NaN value in column "county"
temp["county"].fillna("XXX", inplace=True)

#replace "XXX" in column "county"
temp["county"] = temp["county"].replace("XXX", "Indeterminate")

#other way to replace string in column
temp["cand"] = temp.cand.str.replace("Donald", "Cabello amarillo")

temp

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
0,Indeterminate,US,Cabello amarillo Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
1,Indeterminate,US,Hillary Clinton,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
2,Indeterminate,US,Gary Johnson,US,0.9951,4164589.0,127592176.0,0.032640,Donald Trump
3,Indeterminate,US,Jill Stein,US,0.9951,1255968.0,127592176.0,0.009844,Donald Trump
4,Indeterminate,US,Evan McMullin,US,0.9951,451636.0,127592176.0,0.003540,Donald Trump
...,...,...,...,...,...,...,...,...,...
18470,Yauco Municipio,72153,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18471,Midway Islands,74300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18472,St. Croix Island,78010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18473,St. John Island,78020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18474,St. Thomas Island,78030,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
#filtering by specific value
temp[temp.county.str.contains("Island")]

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
2824,Rock Island County,17161,Hillary Clinton,IL,1.0000,32258.0,62971.0,0.512268,Hillary Clinton
2825,Rock Island County,17161,Cabello amarillo Trump,IL,1.0000,26969.0,62971.0,0.428277,Hillary Clinton
2826,Rock Island County,17161,Gary Johnson,IL,1.0000,3012.0,62971.0,0.047832,Hillary Clinton
2827,Rock Island County,17161,Jill Stein,IL,1.0000,732.0,62971.0,0.011624,Hillary Clinton
3804,Island County,53029,Hillary Clinton,WA,0.9167,20173.0,41010.0,0.491904,Hillary Clinton
3805,Island County,53029,Cabello amarillo Trump,WA,0.9167,17634.0,41010.0,0.429993,Hillary Clinton
3806,Island County,53029,Gary Johnson,WA,0.9167,2147.0,41010.0,0.052353,Hillary Clinton
3807,Island County,53029,Jill Stein,WA,0.9167,748.0,41010.0,0.018239,Hillary Clinton
3808,Island County,53029,Darrell Castle,WA,0.9167,227.0,41010.0,0.005535,Hillary Clinton
3809,Island County,53029,Alyson Kennedy,WA,0.9167,43.0,41010.0,0.001049,Hillary Clinton
3810,Island County,53029,Gloria La Riva,WA,0.9167,38.0,41010.0,0.000927,Hillary Clinton
18364,Kodiak Island Borough,2150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18385,Rose Island,60030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18386,Swains Island,60040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18389,Northern Islands Municipality,69085,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18471,Midway Islands,74300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18472,St. Croix Island,78010,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18473,St. John Island,78020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18474,St. Thomas Island,78030,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
cols2 = ["county", "st", "votes", "total_votes"]
temp[temp.cand == "Cabello amarillo Trump"].votes.max()

60981118.0

In [99]:
temp[temp.cand == "Cabello amarillo Trump"].sort_values(by="votes", ascending=False).head()

,county,fips,cand,st,pct_report,votes,total_votes,pct,lead
1,Indeterminate,US,Cabello amarillo Trump,US,0.9951,60981118.0,127592176.0,0.477938,Donald Trump
0,Indeterminate,US,Cabello amarillo Trump,US,0.9951,60350241.0,127592176.0,0.472993,Donald Trump
32,Indeterminate,CA,Cabello amarillo Trump,CA,1.0000,5931283.0,9631972.0,0.615791,Hillary Clinton
43,Indeterminate,TX,Cabello amarillo Trump,TX,0.9996,4681590.0,8903237.0,0.525830,Donald Trump
37,Indeterminate,FL,Cabello amarillo Trump,FL,1.0000,4605515.0,9386750.0,0.490640,Donald Trump

In [171]:
#group by 
aux = pd.read_csv("../sentdex/datasets/pres16results.csv")

#deleting NaN values
new_aux = aux[aux["total_votes"].notna()]
new_aux = new_aux[new_aux["county"].notna()]
#new_aux["cand"].unique()
new_aux = new_aux[new_aux.cand != " None of these candidates" ]
#a = new_aux["cand"].unique()
#sorted(a)

['Alyson Kennedy',
 'Bradford Lyttle',
 'Chris Keniston',
 'Dan Vacek',
 'Darrell Castle',
 'Donald Trump',
 'Emidio Soltysik',
 'Evan McMullin',
 'Frank Atwood',
 'Gary Johnson',
 'Gloria La Riva',
 'Hillary Clinton',
 'Jerry White',
 'Jill Stein',
 'Jim Hedges',
 'Joseph Maldonado',
 'Kyle Kopitke',
 'Laurence Kotlikoff',
 'Lynn Kahn',
 'Michael Maturen',
 'Mike Smith',
 'Monica Moorehead',
 'Peter Skewes',
 'Princess Jacob',
 'Richard Duncan',
 'Rocky De La Fuente',
 'Rocky Giordani',
 'Rod Silva',
 'Ryan Scott',
 'Scott Copeland',
 'Tom Hoefling']

In [193]:
group_aux = new_aux.groupby(["cand", "st"])["total_votes"].sum()
group_aux

#seteando la cantidad de rows a visualizar
pd.set_option('display.max_rows', None)
print(group_aux)

cand                st
Alyson Kennedy      CO    2564185.0
                    LA    2027731.0
                    MN    2916404.0
                    NJ    3674893.0
                    TN    2484691.0
                    UT     852461.0
                    WA    2765627.0
Bradford Lyttle     CO    2564185.0
Chris Keniston      CO    2564185.0
                    LA    2027731.0
Dan Vacek           IA    1542880.0
                    MN    2916404.0
Darrell Castle      AR    1121684.0
                    CO    2564185.0
                    FL    9386750.0
                    HI     428825.0
                    IA    1542880.0
                    ID     688235.0
                    LA    2027731.0
                    MI    4789450.0
                    MN    2916404.0
                    MO    2775098.0
                    MS    1162987.0
                    ND     336968.0
                    NJ    3674893.0
                    NM     788841.0
                    NV    1122990.0
                    PA    5970107.0
                    SC    2084444.0
                    SD     367151.0
                    UT     852461.0
                    WA    2765627.0
                    WI    2944620.0
                    WV     708226.0
                    WY     248742.0
Donald Trump        AL    2078165.0
                    AR    1121684.0
                    AZ    2062810.0
                    CA    9631972.0
                    CO    2564185.0
                    CT    1623542.0
                    DC     280272.0
                    DE     441535.0
                    FL    9386750.0
                    GA    4029564.0
                    HI     428825.0
                    IA    1542880.0
                    ID     688235.0
                    IL    5374280.0
                    IN    2722029.0
                    KS    1147143.0
                    KY    1923346.0
                    LA    2027731.0
                    MA    3231531.0
                    MD    2474543.0
                    ME     741550.0
                    MI    4789450.0
                    MN    2916404.0
                    MO    2775098.0
                    MS    1162987.0
                    MT     485109.0
                    NC    4629471.0
                    ND     336968.0
                    NE     805638.0
                    NH     731302.0
                    NJ    3674893.0
                    NM     788841.0
                    NV    1122990.0
                    NY    7046175.0
                    OH    5325395.0
                    OK    1451056.0
                    OR    1808575.0
                    PA    5970107.0
                    RI     450787.0
                    SC    2084444.0
                    SD     367151.0
                    TN    2484691.0
                    TX    8903237.0
                    UT     852461.0
                    VA    3844787.0
                    VT     291413.0
                    WA    2765627.0
                    WI    2944620.0
                    WV     708226.0
                    WY     248742.0
Emidio Soltysik     CO    2564185.0
                    MI    4789450.0
Evan McMullin       AR    1121684.0
                    CO    2564185.0
                    IA    1542880.0
                    ID     688235.0
                    KY    1923346.0
                    LA    2027731.0
                    MN    2916404.0
                    NM     788841.0
                    SC    2084444.0
                    UT     852461.0
                    VA    3844787.0
Frank Atwood        CO    2564185.0
Gary Johnson        AL    2078165.0
                    AR    1121684.0
                    AZ    2062810.0
                    CA    9631972.0
                    CO    2564185.0
                    CT    1623542.0
                    DC     280272.0
                    DE     441535.0
                    FL    9386750.0
                    GA    4029564.0
                    HI     428825.0
                    IA    1542880.0
                    ID     688235.0
                    IL    5374280.0
                    IN    2722029.0
                    KS    1147143.0
                    KY    1923346.0
                    LA    2027731.0
                    MA    3231531.0
                    MD    2474543.0
                    ME     741550.0
                    MI    4789450.0
                    MN    2916404.0
                    MO    2775098.0
                    MS    1162987.0
                    MT     485109.0
                    NC    4629471.0
                    ND     336968.0
                    NE     805638.0
                    NH     731302.0
                    NJ    3674893.0
                    NM     788841.0
                    NV    1122990.0
                    NY    7046175.0
                    OH    5325395.0
                    OK    1451056.0
                    OR    1808575.0
                    PA    5970107.0
                    RI     450787.0
                    SC    2084444.0
                    SD     367151.0
                    TN    2484691.0
                    TX    8903237.0
                    UT     852461.0
                    VA    3844787.0
                    VT     291413.0
                    WA    2765627.0
                    WI    2944620.0
                    WV     708226.0
                    WY     248742.0
Gloria La Riva      CA    9631972.0
                    CO    2564185.0
                    IA    1542880.0
                    LA    2027731.0
                    NJ    3674893.0
                    NM     788841.0
                    VT     291413.0
                    WA    2765627.0
Hillary Clinton     AL    2078165.0
                    AR    1121684.0
                    AZ    2062810.0
                    CA    9631972.0
                    CO    2564185.0
                    CT    1623542.0
                    DC     280272.0
                    DE     441535.0
                    FL    9386750.0
                    GA    4029564.0
                    HI     428825.0
                    IA    1542880.0
                    ID     688235.0
                    IL    5374280.0
                    IN    2722029.0
                    KS    1147143.0
                    KY    1923346.0
                    LA    2027731.0
                    MA    3231531.0
                    MD    2474543.0
                    ME     741550.0
                    MI    4789450.0
                    MN    2916404.0
                    MO    2775098.0
                    MS    1162987.0
                    MT     485109.0
                    NC    4629471.0
                    ND     336968.0
                    NE     805638.0
                    NH     731302.0
                    NJ    3674893.0
                    NM     788841.0
                    NV    1122990.0
                    NY    7046175.0
                    OH    5325395.0
                    OK    1451056.0
                    OR    1808575.0
                    PA    5970107.0
                    RI     450787.0
                    SC    2084444.0
                    SD     367151.0
                    TN    2484691.0
                    TX    8903237.0
                    UT     852461.0
                    VA    3844787.0
                    VT     291413.0
                    WA    2765627.0
                    WI    2944620.0
                    WV     708226.0
                    WY     248742.0
Jerry White         LA    2027731.0
Jill Stein          AL    2078165.0
                    AR    1121684.0
                    AZ    2062810.0
                    CA    9631972.0
                    CO    2564185.0
                    CT    1623542.0
                    DC     280272.0
                    DE     441535.0
                    FL    9386750.0
                    HI     428825.0
                    IA    1542880.0
                    ID     688235.0
                    IL    5374280.0
                    KS    1147143.0
                    KY    1923346.0
                    LA    2027731.0
                    MA    3231531.0
                    MD    2474543.0
                    ME     741550.0
                    MI    4789450.0
                    MN    2916404.0
                    MO    2775098.0
                    MS    1162987.0
                    MT     485109.0
                    ND     336968.0
                    NE     805638.0
                    NH     731302.0
                    NJ    3674893.0
                    NM     788841.0
                    NY    7046175.0
                    OH    5325395.0
                    OR    1808575.0
                    PA    5970107.0
                    RI     450787.0
                    SC    2084444.0
                    TN    2484691.0
                    TX    8903237.0
                    UT     852461.0
                    VA    3844787.0
                    VT     291413.0
                    WA    2765627.0
                    WI    2944620.0
                    WV     708226.0
                    WY     248742.0
Jim Hedges          AR    1121684.0
                    CO    2564185.0
                    MS    1162987.0
Joseph Maldonado    CO    2564185.0
Kyle Kopitke        CO    2564185.0
Laurence Kotlikoff  CO    2564185.0
                    LA    2027731.0
Lynn Kahn           AR    1121684.0
                    IA    1542880.0
Michael Maturen     CO    2564185.0
Mike Smith          CO    2564185.0
                    TN    2484691.0
Monica Moorehead    NJ    3674893.0
                    UT     852461.0
                    WI    2944620.0
Peter Skewes        SC    2084444.0
Princess Jacob      LA    2027731.0
Richard Duncan      OH    5325395.0
Rocky De La Fuente  CO    2564185.0
                    FL    9386750.0
                    IA    1542880.0
                    ID     688235.0
                    KY    1923346.0
                    MN    2916404.0
                    MS    1162987.0
                    MT     485109.0
                    ND     336968.0
                    NH     731302.0
                    NJ    3674893.0
                    NM     788841.0
                    NV    1122990.0
                    RI     450787.0
                    TN    2484691.0
                    UT     852461.0
                    VT     291413.0
                    WI    2944620.0
                    WY     248742.0
Rocky Giordani      UT     852461.0
Rod Silva           CO    2564185.0
Ryan Scott          CO    2564185.0
Scott Copeland      ID     688235.0
Tom Hoefling        CO    2564185.0
                    LA    2027731.0
Name: total_votes, dtype: float64

In [236]:
group_aux = new_aux.groupby(["cand"])["total_votes"].sum()
group_aux

cand
Alyson Kennedy         17285992.0
Bradford Lyttle         2564185.0
Chris Keniston          4591916.0
Dan Vacek               4459284.0
Darrell Castle         51269299.0
Donald Trump          127289217.0
Emidio Soltysik         7353635.0
Evan McMullin          20354998.0
Frank Atwood            2564185.0
Gary Johnson          127289217.0
Gloria La Riva         23287542.0
Hillary Clinton       127289217.0
Jerry White             2027731.0
Jill Stein            112966956.0
Jim Hedges              4848856.0
Joseph Maldonado        2564185.0
Kyle Kopitke            2564185.0
Laurence Kotlikoff      4591916.0
Lynn Kahn               2664564.0
Michael Maturen         2564185.0
Mike Smith              5048876.0
Monica Moorehead        7471974.0
Peter Skewes            2084444.0
Princess Jacob          2027731.0
Richard Duncan          5325395.0
Rocky De La Fuente     34597604.0
Rocky Giordani           852461.0
Rod Silva               2564185.0
Ryan Scott              2564185.0
Scott Copeland           688235.0
Tom Hoefling            4591916.0
Name: total_votes, dtype: float64

In [ ]:
other_df = new_aux.groupby(["cand"]).total_votes.agg([""])